/*
    Name: Chloe McEntire
    Assignment: My Schedule
    Date: Oct 28, 2024
*/

body {
    background-color: #E1AFD2;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Navigation */

.nav-container {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}

header {
    background-color: #ffd791;
}

/* CSS trick */

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 50px;
}

nav a {
    text-decoration: none;
    color: #E1AFD2;
    text-transform: uppercase;
}

nav a:hover {
    color: #ff00b3;
}


/* Footer */

footer {
    text-align: center;
}